body {
  background-image: linear-gradient(to right bottom, rgb(44, 94, 128), white)
}

*:focus {
  outline: 0;
}

h1 {
  text-align: center;
  font-family: 'Rock Salt', cursive;
  margin-top: -40px;
  font-size: 50px;
}

#logo {
  position: relative;
  height: 70px;
  width: 70px;
  left: 25%;
  top: 50px;
}

#inputTask {
  position: relative;
  border: black;
  border-radius: 15px;
  width: 80vw;
  height: 40px;
  font-size: 26px;
  margin: 110px;
  margin-top: 60px;
}

#selectDate {
  position: relative;
  font-weight: bold;
  font-family: 'Leckerli One', cursive;
  color: rgba(255, 222, 36, 0.804);
  top: -35px;
  margin-left: 208px;
  font-size: 24px;
}

select {
  position: relative;
  background: white;
  margin: 2px;
  left: 18%;
  height: 26px;
  top: -40px;
}

#add {
  position: relative;
  cursor: pointer;
  left: 58%;
  border-radius: 6px;
  height: 40px;
  width: 100px;
  font-size: 20px;
  top: -40px;
  transition-duration: 0.8s;
}

#add:hover {
  background-color: rgba(210, 220, 252, 0.9);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#yourList {
  position: relative;
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: 'Leckerli One', cursive;
  font-size: 60px;
  margin-left: 60px;
  margin-top: -20px;
}

#finger {
  height: 80px;
  width: 80px;
  margin-left: 523px;
  margin-top: 5px;
}

#tasks {
  font-family: "Niconne", cursive;
  border: 1px solid black;
  background-color: white;
  font-size: 26px;
  border-radius: 30px;
  margin-right: 50px;
  padding-left: 10px;
}

#tasksPriority{
  font-family: "Niconne", cursive;
  border: 1px solid black;
  background-color: rgba(0, 197, 0, 0.677);
  font-size: 26px;
  border-radius: 30px;
  margin-right: 50px;
  padding-left: 10px;
}

#buttonsContainer {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  float: right;
  top: 2px;
  right: 5px;
  margin: 3px;
}

#buttonList {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  border-radius: 50%;
}

#buttonImages {
  height: 17px;
  width: 17px;
  margin: 1px;
}

#tasksList {
  position: fixed;
  width: 600px;
  height: 450px;
  padding: 0px;
  background: rgba(255, 222, 36, 0.804);
  border: rgba(255, 222, 36, 0.804) solid 1px;
  border-radius: 10px;
  left: 23%;
  top: 661px;
  transition: all 1s linear;
}

#tasksList:after {
  content: "";
  position: absolute;
  top: -26px;
  left: 274px;
  border-style: solid;
  border-width: 0px 26px 26px;
  border-color: rgba(255, 222, 36, 0.804) transparent;
  z-index: 1;
}

#tasksList:before {
  content: "";
  position: absolute;
  bottom: 451px;
  left: 274px;
  border-style: solid;
  border-width: 0px 26px 26px;
  border-color: rgba(255, 222, 36, 0.804) transparent;
  z-index: 0;
}

#tasksList:hover {
  top: 200px;
}

#trash {
  cursor: pointer;
  float: right;
  height: 80px;
  width: 55px;
  margin-right: 15px;
  margin-top: 60px;
}

#trashModal {
  position: absolute;
  background: rgba(241, 244, 255, 0.9);
  width: 600px;
  height: 450px;
  padding: 0px;
  border: #000 solid 1px;
  border-radius: 10px;
  margin-left: 260px;
  z-index: 1;
  margin-top: -430px;
}

#doneTitle {
  text-align: center;
  font-size: 24px;
}

#activitiesDone {
  font-family: "Niconne", cursive;
  border: 1px solid black;
  background-color: white;
  font-size: 26px;
  border-radius: 30px;
  margin-right: 50px;
  padding-left: 10px;
  margin-left: 20px;
}

#closeButton {
  position: absolute;
  cursor: pointer;
  left: 78%;
  top: 385px;
  border-radius: 6px;
  height: 40px;
  width: 100px;
  font-size: 20px;
  transition-duration: 0.8s;
}

#closeButton:hover {
  background-color: rgba(210, 220, 252, 0.9);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
